<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <div class="navbar-brand">
         
            <a class="nav-link active " aria-current="page" routerLink="/">   E-Insurance 
            </a>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            style="padding-right: 10px;">
            <span class=" navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-3 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/"><i class="fa fa-home"> HOME
                        </i></a>
                </li>
                
               
                <!-- <li class="nav-item">
                    <a class="nav-link active" routerLink="/aboutus"><i class="fa fa-info-circle"> ABOUT-US </i></a>
                </li> <br>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/contact"><i class="fa fa-envelope"> CONTACT-US </i>
                    </a>
                </li> -->
        
                <li class="nav-item dropdown">
                    <a class="nav-link active"  routerLink="/login" role="button"
                         aria-expanded="true">
                        <i class="fa fa-sign-in"> LOGIN </i>
                    </a>

                </li>&nbsp;

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/register"><i class="fa fa-user-plus"> REGISTER </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>