.container-fluid {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=sph.jpg");
    background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 90px;
      font-family: 'Arial', sans-serif;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
  
  }
h2 {
    text-align: center;
    margin-top: -90px;
  }
  
.close {
    font-weight: 700;
    font-size: 23px;
    width: 50px;
    border: none;

}

.custom-heading {
    font-size: 30px;
    font-weight: bold;
    color: #FF0000;
    font-family: cursive;
    text-align: center;
}

.table table-hover {
    align-items: center;
}