<app-agent-header></app-agent-header>
        <div class="up">    
    <p>Agent-Dashboard</p>
   
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <h6 class="m-b-20"><i class="fa fa-user"></i> PROFILE</h6>
                            <button routerLink="/agent-profile" type="view" class="btn btn-primary">View</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <h6 class="m-b-20"><i class="fa fa-users"></i> CUSTOMERS </h6>
                            <button routerLink="/agent-cust" class="btn btn-primary">View</button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block">
                            <h6 class="m-b-20"><i class="fa fa-question"></i> BUY-POLICY</h6>
                            <button routerLink="/agents-plans" type="view" class="btn btn-primary">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <h6 class="m-b-20"><i class="fa fa-money"></i> COMMISSION</h6>
                            <button routerLink="/agentcommtable" type="view" class="btn btn-primary">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap and jQuery scripts -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>