.site-footer {
    border-top: 1px solid #ccc;
    padding-top: 50px;
}

.site-footer .widget-area {
    margin-bottom: 50px;
}

.site-footer .widget-area .widget {
    font-size: 14px;
    font-size: 0.875em;
    margin-bottom: 30px;
}

.site-footer .widget-area .widget-title {
    font-size: 20px;
    font-size: 1.25rem;
}

.site-footer .widget-area a {
    color: #768089;
}

.site-footer .widget-area ul {
    list-style-type: none;
}

.site-footer .bottom-footer {
    background-color: #4a4c4e;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    font-size: 0.875em;
}

.site-footer .footer-navigation {
    margin-bottom: 30px;
}

.site-footer .footer-navigation a {
    color: white;
    padding: 0 10px;
    border-right: 1px solid white;
    line-height: 20px;
}

.site-footer .footer-navigation a:last-child {
    border-right: none;
}

.site-footer .colophon {
    color: #898b8d;
}

/*  */
.breadcrumbs {
    background-color: #f1f1f1;
    padding: 10px 0;
    font-size: 14px;
    font-size: 0.875em;
}

.breadcrumbs a {
    margin-right: 10px;
}

.breadcrumbs a:after {
    content: " ";
    width: 7px;
    height: 5px;
    /* background: url() no-repeat; */
    display: inline-block;
    margin-left: 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.fullwidth-block {
    padding: 50px 0;
}

.features {

    margin: 0 -15px;
    position: relative;
    z-index: 0;
}



.features:after {
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
    content: " ";
    height: 50px;
    top: 50px;
    left: 15px;
    right: 15px;
    position: absolute;
    /* background: url(images/dotted.png) repeat-x; */
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .features:after {
        display: none;
    }
}

.features .feature-numbered {
    width: 25%;
    float: left;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .features .feature-numbered {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .features .feature-numbered {
        width: 100%;
    }
}

.features .feature-numbered .num {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #0f75bd;
    color: #0f75bd;
    text-align: center;
    font-size: 36px;
    font-size: 2.25em;
    line-height: 1.8;
    font-weight: 400;
    margin: 0 auto 20px;
    background-color: white;
    box-shadow: 0 0 0 10px white;
}

.features .feature-numbered .feature-title {
    font-size: 20px;
    font-size: 1.25em;
    color: #0f75bd;
    font-weight: 400;
}

.section-title,
.section-subtitle {
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
    display: block;
}

.section-title {
    font-size: 48px;
    font-size: 3em;
}

.section-subtitle {
    font-size: 30px;
    font-size: 1.875em;


    color: #9ba1a6;
    margin-top: -50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

body {
    color: #768089;
    font-family: "Roboto Condensed", "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}