<app-customer-header></app-customer-header>
<div class="up">

<p>Customer-Dashboard</p>

</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"><i class="fa fa-user"></i> PROFILE</h6>
                        <button routerLink="/cust-profile" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>

           
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-grey order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"><i class="fa fa-list-alt"></i> BUY-POLICY</h6>
                        <button routerLink="/customer-plans" class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-red order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"><i class="fa fa-folder"></i> DOCUMENTS</h6>
                        <button routerLink="/documents" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"><i class="fa fa-question"></i> QUERY </h6>
                        <button routerLink="/query" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-purple order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"><i class="fa fa-clipboard"></i> CLAIMS</h6>
                        <button routerLink="/claims" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>

             <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20"><i class="fa fa-file-text"></i> POLICIES</h6>
                        <button routerLink="/cust-poli" class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>
     
    
    