<app-admin-header></app-admin-header>
<div class="container-fluid">
  <div class="col-md-12">
    <h2><b>Payments</b></h2>

    <button class="btn btn-danger ms-auto" routerLink="/admin">Back to dashboard</button>

    <hr>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Payment Id</th>
        <th scope="col">Payment type</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Total payment</th>
        <th scope="col">More</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paymentList">
        <td>{{payment.paymentId}}</td>
        <td>{{payment.paymentType}}</td>
        <td> &#x20B9;{{payment.amount}}</td>
        <td>{{payment.date | date : "dd-MM-YYYY"}}</td>
        <td> &#x20B9;{{payment.totalPayment}}</td>

        <td>
          <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
            data-bs-target="#customerDetailsModal" (click)="fetchCustomerDetails(payment.policyNumber)">
            Details
          </button>
        </td>
 
      </tr>
    </tbody>
  </table>
</div>
  <div class="modal fade" id="customerDetailsModal" tabindex="-1" role="dialog"
    aria-labelledby="customerDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customerDetailsModalLabel">PolicyDetail</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="newPolicy">

            <p><strong>Policy number:</strong> {{ newPolicy.policyNumber }}</p>
            <p><strong>Premium amount:</strong> {{ newPolicy.premiumAmount }}</p>
            <p><strong>Sum assured:</strong> {{ newPolicy.sumAssured }}</p>
            <p><strong>Premium type:</strong> {{ newPolicy.premiumType }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>