<!-- <app-header></app-header> -->
<body>

    <main class="main-content">
        <div class="image-container">
            <img src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?w=740&t=st=1702465647~exp=1702466247~hmac=ea880c9cab289ebf64a0afcec06b9ad6af81e350e1b8dcb901f57ba83e3f079b" alt="image" class="contact-image">
        </div>
        <div class="contact-form">
            <h2 class="section-title text-left" style="margin-left: 100px;">Contact-us</h2><br>
            <form action="#" class="contact-form">
                <div class="input-container">
                    <input type="text" placeholder="Your name..."><br>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Email..."><br>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Website..."><br>
                </div>
                <textarea placeholder="Message..."></textarea><br>
                <p class="text-right">
                    <button type="submit" class="btn btn-primary" >Send Message</button>   
                </p>
            </form>
        </div>
    </main>

</body>