.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* Optional padding */
}
body {
    overflow-x: hidden;
}
h2{
   
    font-weight: bolder;
}
.image-container {
    flex: 0 0 40%;
    /* Adjust the width of the image container */
    margin-right: 20px;
    margin-top: -30px;
    margin-left: -30px;
    /* Optional margin between image and form */
}

.contact-form {
    flex: 0 0 55%;
    /* Adjust the width of the contact form */
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {

    .contact-form input[type="text"],
    .contact-form textarea,
    .contact-form input[type="submit"] {
        width: 100%;
        /* Adjust width for smaller screens */
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.contact-image {
    width: 170x;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

.input-container {
    margin-bottom: 10px;
    /* Adjust the space between input fields */
}

.contact-form input[type="text"],
.contact-form textarea,
.contact-form input[type="submit"] {
    width: 200px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}