
<div class="container">
 <h5 style="text-align: center;margin-bottom: 20px;">Update Password</h5>

    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div>
            <div class="row">
                <div class="col">
            <label for="username" class="form-label">Username:</label>
        </div>
        <div class="col">
            <input type="text" id="username" formControlName="username">
        </div>
        </div>
        </div>
        <div>
            <div class="row">
                <div class="col">
            <label for="oldPassword" class="form-label">Old password:</label>
        </div>
        <div class="col">
            <input type="password" id="oldPassword" formControlName="oldPassword">
        </div>
        </div>
        </div>
        <div>
            <div class="row">
                <div class="col">   <label for="newPassword" class="form-label">New Password:</label></div>
                <div class="col"> <input type="password" id="newPassword" formControlName="newPassword"></div>
         
           
        </div>
        </div>
        <button type="submit" [disabled]="!passwordForm.valid">Update Password</button>
    </form>
</div>