.container-fluid {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=sph.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 90px;
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    height: 150vh;
    margin: 0;

}

.table-responsive-md {
    overflow-x: auto;
}

.container {
    max-height: 900px;
    /* Adjust as needed */
    overflow: auto;
}

.table {
    max-height: 300px;
    /* Adjust as needed */
    overflow: auto;
}

h2 {
    text-align: center;
    /* Ensures the text is centered within its container */
    margin-top: -90px;
}