.up{
    margin-top:60px ;
}
.container {

    margin-left: 50px;
    margin-top:70px ;
margin-right: 80px;
align-items: center;
}
h6{
    
    font-size: large;
    font-weight:bolder;
}
.body {
    background-color: #2ed8b6;
}

.content {
    padding-top: 60px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 90px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: large;
}


.h1 {
    font-family: 'Courier New', Courier, monospace
}

.navbar-brand,
.nav-link {
    font-weight: bold;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    text-transform: uppercase;
}

.navbar-nav .nav-item .dropdown-toggle {
    text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}




.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}

.bg-c-purple {
    background: linear-gradient(45deg, #d164cf, #f9b4e8);
}

.bg-c-red {
    background: linear-gradient(45deg, #e94242, #e2a49e);
}

.bg-c-orange {
    background: linear-gradient(45deg, #e9d370, #f7da04);
}

.bg-c-grey {
    background: linear-gradient(45deg, #393a39, #8c8e8c);
}





p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    margin-left: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}